*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header{
    font-size: 1.5rem;
    padding: 1rem;
    color: green;
}
h3{
    text-align: center;
    color: green;
}
main section{
    display: flex;
    flex-flow: row nowrap;
}
.box{
    margin-left: 0.5rem;
}